main.mainCont {
  position: absolute;
  left: 60%;
  top: 65%;
  transform: translate(-50%, -50%);
  height: 50%;
  width: 55%;
  border-radius: 10px;
  padding: 20px;
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.recListCont {
  background-color: rgba(255,255,255,0.7);
  height: 100%;
  width: 45%;
  border-radius: 10px;
  padding: 20px;
  margin: -20px 0 0 -20px;
  float: right;
}

div.recShowCont {
  background-color: rgba(255,255,255,0.7);
  height: 100%;
  width: 45%;
  border-radius: 10px;
  padding: 20px; 
  margin-top: -20px;
  margin-right: -20px;
}